{% extends 'base.html' %}

{% block head %}
<title>bestreads</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: left">bestreads</h1>

    <p>This page predicts the genre of a book based on Goodreads descriptions.</p>

    <p>For more info on how this works, see the <a href="https://github.com/adam-broussard/bestreads">GitHub repo</a>.
    </p>


    <h2 style="text-align: left">Predict a genre</h2>

    <div class="warning">
        <p>This page is a work in progress. Only "test" works in the box below.</p>
    </div>

    <p>Paste in a book description:</p>
    <div class="form">
        <form action="#" method="POST">
            <input type="text" name="description" id="description">
            <input type="submit" value="Predict Genre">
        </form>
    </div>


</div>
{% endblock %}
